body{
	margin: 10px;
	border: 2px solid;
	width: 100%;
}

nav {
  overflow: hidden;
  background-color: grey;
}


nav a {
  display: inline-block;
  color: lime;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

nav a:hover {
  background-color: red;
}

h2 a{
	color:red;
}

.mainHeader {
  float: left;
  width: 100%;
}

.mainContent {
  float: left;
  width: 70%;
  margin-right: 2%;
}

.topContent{
	float:left;
	border: 2px solid;
	width:100%;
	padding:5px;
	margin-bottom: 20px;
         background-color: white;
}

.bottomContent{
	float:left;
	border: 2px solid;
	width:100%;
	padding:5px;
	
      background-color: white;
}

.top-sidebar{
	float:left;
	border: 2px solid;
	width:23%;
	padding:5px;
	height: 18%;
	margin-right: 2%;
        margin-bottom: 5px;
         background-color: white;
}

.middle-sidebar {
  float: left;
  border: 2px solid;
  width: 23%;
  padding: 5px;
  height: 20%;
  margin-right: 2%;
  overflow: auto;
   background-color: white;
}

.bottom-sidebar{
	float:left;
	border: 2px solid;
	width:23%;
	padding:5px;
	margin-bottom: 3px;
        background-color: white;
}

.mainFooter{
  clear: both;
  overflow: hidden;
  background-color: grey;
  display: block;
  width: 100%;
  padding:5px;
  margin:2px;
}
.mainFooter a{
	color:red;
}
body {
  background-image: url("BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  margin-bottom: 10px;
}


